{% load static %}
<div class="bg-secondary d-md-flex flex-column col-4  position-fixed shadow h-100"  id="sidebar">
    <div id="#logo">
        <a href="/" class="d-block mx-auto" >
            <img class="img-fluid" src="{% static 'images/logo-fundo-tertiary.png' %}" alt="">
        </a>
        <p class="text-center text-white my-2">
            {{ request.user.username}}
        </p>              
    </div>

    <hr>

    <nav class="nav flex-column">
        <span class="text-center text-white bg-primary">
            Área do Candidato
        </span>
        <li class="nav-item">
            <a href="{% url 'sobre' %}" class="nav-link">
                <i class="fas fa-info "></i>
                <span>Sobre a seleção</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'fazer_prova' %}" class="nav-link">
                <i class="fas fa-pencil-alt  "></i>
                <span>Fazer a prova</span>
            </a>
        </li>

        <span class="text-center text-white bg-primary mt-3">
            Área do Petiano
        </span>
        <li class="nav-item">
            <a href="{% url 'perguntas' %}" class="nav-link">
                <i class="fas fa-brain  "></i>
                <span>Elaborar Provas</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-check "></i>
                <span>Corrigir Provas</span>
            </a>
        </li>


        <a href="/accounts/logout" class="nav-link mt-auto">
            <i class="fas fa-door-open "></i>
            <span>Sair</span>

        </a>

    </nav>
</div>