{% extends 'public_base.html' %}
{% load static %}
{% block content %}

<div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="card border-0 shadow d-flex flex-row w-75" id="login">
        <div class="col-7 d-none d-md-flex flex-column justify-content-between bg-secondary">
            <h2 class=" text-center text-white my-auto fs-3">
                Seleção <br> PET Quimica IFPB
            </h2>
        </div>
        <div class="col-10 m-auto col-md-5 p-3 text-primary">
            <form class="d-flex flex-column justify-content-between" method="post">
                <h3 class="fs-5 text-dark my-md-5 text-center">Preencha com seus dados</h3>
                <div class="my-2"> 
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" name="username" placeholder="name@example.com">
                        <label for="email">Sua matrícula</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" name="password" id="senha" placeholder="Password">
                        <label for="senha">Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary rounded w-75 mx-auto d-block mt-4">Entrar</button>

                </div>
    
            </form>
        </div>
        
    </div>
    
</div>


{% endblock %}