{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="container">

    <h2 class="fs-1 py-5 text-center text-white fw-bold">
        Boa sorte !
    </h2>

    {% if perguntas %}
    <div class="d-flex flex-column align-items-center">

   
    {% for pergunta in perguntas %}


    <div class="card w-100 my-3">
        <div class="card-body pergunta" id="pergunta-{{pergunta.id}}">
            <p class="fs-4">{{pergunta.id}} - {{ pergunta }} </p>

            <label class="d-block mb-4">Sua resposta:</label>

            {% if pergunta.tipo == 'escolha' %}

                {% for alternativa in alternativas %}
                    {% if alternativa.pergunta.id == pergunta.id %}
                    <div class="form-check col-6 d-inline-block">
                        <input class="form-check-input" type="radio" value="{{alternativa.letra}}-{{alternativa.pergunta.id}}" name="resposta-{{alternativa.pergunta.id}}" id="alternativa-{{alternativa.letra}}">
                        <label class="form-check-label" for="{{alternativa.letra}}-{{alternativa.pergunta.id}}">
                        {{alternativa}}
                        </label>
                    </div>
                    {% endif %}

                {% endfor %}

            {% else %}
            <textarea type="text" class=".textarea form-control" placeholder="Insira sua resposta aqui"> </textarea>
            
            {% endif %}

            <button onclick="salvarResposta('{{ pergunta.id }}')" class="btn btn-tertiary text-white fw-bold mt-2 d-block">Salvar</button>
        </div>
    </div>


    {% endfor %}
    </div>

{% else %}

<p>Não há perguntas cadastradas.</p>

{% endif %}

</div>


<script type="text/javascript">
    function salvarResposta(pergunta_id) {
        const url = "{% url 'salvar_resposta' %}";
        let resposta = ''
        if ($(`#pergunta-${pergunta_id} input[type="radio"]`).length > 0){
            resposta = $(`#pergunta-${pergunta_id} input[type="radio"]:checked`).val()
        }else {
            resposta = $(`#pergunta-${pergunta_id} textarea`).val()
        }
        
        $.ajax({
            url: url,
            data: {
                'pergunta_id': pergunta_id,
                'resposta': resposta
            },
            success: function (resposta) {
                $(`#pergunta-${pergunta_id} button`).toggleClass('disabled').html('Já salvo <i class="fas fa-check"></i>')
            }
        })
    }

    function carregaRespostas() {
        const url = "{% url 'carrega_respostas' %}";        
        $.ajax({
            url: url,
            success: function (respostas) {
                respostas.forEach((resposta)=>{
                    if (resposta.resposta.length == 1){
                        $(`#pergunta-${resposta.pergunta_id} input[value=${resposta.resposta}-${resposta.pergunta_id}`).prop('checked', true);
                    } else {
                        $(`#pergunta-${resposta.pergunta_id} textarea`).val(resposta.resposta)
                    }
                    $(`#pergunta-${resposta.pergunta_id} button`).toggleClass('disabled').html('Já salvo <i class="fas fa-check"></i>')
                })
            }
        })

        console.log('Respostas recuperadas e atualizadas!')
    }


    carregaRespostas();

    $('input, textarea').on('change', function(){
        $(this).parent().parent().find('button').removeClass('disabled').html('Salvar')
    })
</script>

{% endblock %}