{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container text-white">
    <h2 class="fs-1 text-white fw-bold my-5">
        Criar nova pergunta
    </h2>
    <form method="POST">
        {% csrf_token %}
    
        {{ form | crispy}}
        <div id="opcoes"></div>
    
        <button class="btn btn-secondary shadow text-white mt-3 fw-bold" type="submit">Salvar</button>
    
    
    </form>



</div>


<script>

    $('select').on('change', function(){
        valor = $(this).val()
        if (valor == 'escolha') {
            $('#opcoes').html(`

            <div class="my-4">
                <div class="form-group col-5">
                    <label>Letra a </label>
                    <input name="letra-a" class="form-control">
                </div>
                <div class="form-group col-5">
                    <label>Letra b </label>
                    <input name="letra-b" class="form-control">
                </div>
                <div class="form-group col-5">
                    <label>Letra c </label>
                    <input name="letra-c" class="form-control">
                </div>
                <div class="form-group col-5">
                    <label>Letra d </label>
                    <input name="letra-d" class="form-control">
                </div>

            </div>
            
            `)
        } else {
            $('#opcoes').html()
        }
    })


</script>


{% endblock %}