{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="container h-100">

    <h2 class="fs-1 py-5 text-center text-white fw-bold">
        Perguntas cadastradas
    </h2>
    <a href="{% url 'criar_pergunta' %}" class="btn btn-primary text-white shadow fw-bold d-block w-25 mb-5 mx-auto">
        <i class="fas fa-plus me-2"></i>
        Criar pergunta
    </a>
    

    {% if perguntas %}
    <div class="d-flex flex-column align-items-center">

   
    {% for pergunta in perguntas %}


    <div class="card w-50 my-3">
        <div class="card-body">
            <p class="fs-4">{{ pergunta }}</p>
        </div>
    </div>


    

    {% endfor %}
    </div>

{% else %}

<p>Não há perguntas cadastradas.</p>

{% endif %}

</div>
{% endblock %}