{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-white">

    <h2>Você está no sobre</h2>

    <p id="horario">
        {{ atual}}

    </p>

    <span class="counter"></span>
</div>

<script>
    window.setInterval('funcao()', 1000);

    function atualizarHora(){
        $('#horario').load('sobre/ #horario' )
    }

    $(document).ready(function(){
        $('.counter').counterUp();
    }) 
        
</script>
{% endblock %}