@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap')



@import 'theme.scss'
@import '../vendor/b5/scss/bootstrap.scss'



html,
body 
    height: 100%



body
    font-family: $primary-font
    font-size: 17px
    min-height: 100vh
    background: linear-gradient(to bottom, $primary-color, $secondary-color)
    background-attachment: fixed


@keyframes aparecer
    0%
        opacity: 0
    100%
        opacity: 1




#sidebar 
    height: 100%
    background: linear-gradient(to bottom, $primary-color, $secondary-color)
    width: 8.33%
    z-index: 1000 !important

    #logo img
        height: 50px !important
        width: auto

    *
        transition: .4s

    transition: 1s
    @media (max-width: 767px)
        width: 33%
    span
        transition: 1s
        display: none
        opacity: 0

    .nav-link
        text-align: center
        color: white
        font-size: 1.2rem
        transition: .2s
        padding: 15px 10px

        i.fas 
            font-size: 25px
            transition: .5s

    &:hover,
    &.opened
        width: 20%
        *
            transition: .2s

        .nav-link
            text-align: center
            color: white
            display: flex
            align-items: center

            &:hover
                background: $primary-color
                *
                    transition: .5s !important
                

            span
                width: 70%
                display: block
                animation: aparecer 1s ease-in-out forwards

            i.fas
                transition: 1s !important 
                margin-right: auto
                width: 30%
