$primary-color:#288683;
$secondary-color: #9d313f;
$tertiary-color: #29c797;



$theme-colors: (
    "primary": $primary-color,
    "secondary": $secondary-color,
    "tertiary": $tertiary-color
);


$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Open-sans', sans-serif;